flows (4).json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Drehstromzähler 1 Visu",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3735125947afde0",
        "type": "tab",
        "label": "Drehstromzähler 2 Visu",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8b9923a56e2f6e9",
        "type": "tab",
        "label": "Datenbank Drehstromzähler 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33286dca73505152",
        "type": "tab",
        "label": "Seiten wechsel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8278be15ec408ba",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cf18580fecb0e91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0462dd3564a07ec5",
        "type": "ui_group",
        "name": "Drehstromzähler ",
        "tab": "b141222326eab73b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b141222326eab73b",
        "type": "ui_tab",
        "name": "Drehstomzähler 1",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2cc20544f239970",
        "type": "ui_group",
        "name": "Spannung",
        "tab": "b141222326eab73b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1b82db63ee55a865",
        "type": "ui_group",
        "name": "Leistung in kW in den letzen 30 Minuten       ",
        "tab": "b141222326eab73b",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "7db67059fef9edf5",
        "type": "ui_group",
        "name": "Verbrauch in kwh in den letzen 30 Minuten",
        "tab": "b141222326eab73b",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "131bbfbd.37dbd",
        "type": "ui_tab",
        "name": "Drehstromzähler 2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc6ea066bf78cde2",
        "type": "ui_group",
        "name": "",
        "tab": "44f8c2125efc5c92",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c6bec5.1a4d814",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.25.114",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "416eaf7810a9cd8e",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "DBONE",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "ebf39d6b6d96b8b4",
        "type": "ui_group",
        "name": "Spannung",
        "tab": "131bbfbd.37dbd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44f8c2125efc5c92",
        "type": "ui_tab",
        "name": "Startseite",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04c85e35fd91f6c5",
        "type": "ui_tab",
        "name": "Tab 4",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "17b9d8a7697f616f",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f2cc20544f239970",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "L1 - N",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "78933120e4e934b5",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f2cc20544f239970",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "L2 - N",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "cabdb3b4904fab37",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f2cc20544f239970",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "L3 - N",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "06fa427dfd7bacc2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "230",
        "payloadType": "num",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "17b9d8a7697f616f"
            ]
        ]
    },
    {
        "id": "d779af3b9a9350b0",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b82db63ee55a865",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "L1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fe7753edae585d0a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23",
        "payloadType": "num",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "d779af3b9a9350b0",
                "8da4a9bad175864d"
            ]
        ]
    },
    {
        "id": "976b167784e7bf36",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2332",
        "payloadType": "num",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "d779af3b9a9350b0",
                "8da4a9bad175864d",
                "df2a9afa7cc6cfc3"
            ]
        ]
    },
    {
        "id": "8da4a9bad175864d",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b82db63ee55a865",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "L2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "df2a9afa7cc6cfc3",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b82db63ee55a865",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "L3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e90319b385fd0ee7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3434",
        "payloadType": "num",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "df2a9afa7cc6cfc3",
                "72916da5e4043f55"
            ]
        ]
    },
    {
        "id": "0c23ccc152610682",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2343",
        "payloadType": "num",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "df2a9afa7cc6cfc3"
            ]
        ]
    },
    {
        "id": "72916da5e4043f55",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7db67059fef9edf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "L1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ac60424eb5b29dab",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7db67059fef9edf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "L2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 316,
        "y": 734,
        "wires": [
            []
        ]
    },
    {
        "id": "e2ed9aa8766033df",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7db67059fef9edf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "L3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b749e3d8f0d40834",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3434",
        "payloadType": "num",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "72916da5e4043f55"
            ]
        ]
    },
    {
        "id": "e135afc2f60e4acc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2344",
        "payloadType": "num",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "ac60424eb5b29dab"
            ]
        ]
    },
    {
        "id": "88c46248d50ae227",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6546",
        "payloadType": "num",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e2ed9aa8766033df"
            ]
        ]
    },
    {
        "id": "da5bf23133d465e1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2343",
        "payloadType": "num",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "e2ed9aa8766033df"
            ]
        ]
    },
    {
        "id": "ca2bb6490f9eb0e9",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Drehstromzähler 1______________________________",
        "info": "",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "6bac66549a6fcfcf",
        "type": "comment",
        "z": "b3735125947afde0",
        "name": "Drehstromzähler 2______________________________",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "fbeae44ec38d17ff",
        "type": "inject",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "a51657c020cd5242"
            ]
        ]
    },
    {
        "id": "a51657c020cd5242",
        "type": "debug",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "f09cacbcdf7d1331",
        "type": "inject",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{aa;78;1637522221/ab;58.0;1637522221}",
        "payloadType": "str",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "d268c52d5b55c9ef"
            ]
        ]
    },
    {
        "id": "3f4d10554f58d784",
        "type": "function",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "func": "//Variable für die Empfangsnachricht deklarieren\n//und mit der Mqtt Nachricht füllen\n//var valueArrayMassage = [msg.payload]\n\n//Wert der Messung deklarieren und auf Variable schreiben\nvar measured_value =  msg.payload[0];\n\n//valueArray = [] \nvar timestamp = msg.payload[1]*1000\n\n//_____________________________________\n// Name des Objekts erzeugen Drehstromzähler 1 Leistung in kW\nvar measurement =  'Drehstromzaehler_1_L1_Leistung_in_kW';\n\n//_____________________________________\n//Array deklarieren für die Ausgabe \nvar valueArray = [  ]\n//Objekte erzeugen\nvar newObject_1 ={}\nvar fields ={}\n//_____________________________________\nfields =\n    {\n    // Einheit der Messung in der Datenbank angeben    \n    measured_value,\n    },\n\nnewObject_1 =\n    {\n    measurement,\n    fields,\n    timestamp\n    },\nvalueArray = [newObject_1]    \n//______________________________________\n\nmsg.payload = valueArray\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 160,
        "wires": [
            [
                "b8649a058887e6bd",
                "2fa833e1436b3cec"
            ]
        ]
    },
    {
        "id": "81baa7f3cbd2b86b",
        "type": "function",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "func": "//Variable für die Empfangsnachricht deklarieren\n//und mit der Mqtt Nachricht füllen\n//var valueArrayMassage = [msg.payload]\n\n//Wert der Messung deklarieren und auf Variable schreiben\nvar measured_value =  msg.payload[0];\n\n//valueArray = [] \nvar timestamp = msg.payload[1]*1000\n\n//_____________________________________\n// Name des Objekts erzeugen\nvar measurement =  'Drehstromzaehler_1_L2_Leistung_in_kW';\n//_____________________________________\n//Array deklarieren für die Ausgabe \nvar valueArray = [  ]\n//Objekte erzeugen\nvar newObject_1 ={}\nvar fields ={}\n//_____________________________________\nfields =\n    {\n    // Einheit der Messung in der Datenbank angeben    \n    measured_value,\n    },\n\nnewObject_1 =\n    {\n    measurement,\n    fields,\n    timestamp\n    },\nvalueArray = [newObject_1]    \n//______________________________________\n\nmsg.payload = valueArray\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 280,
        "wires": [
            [
                "2fa833e1436b3cec",
                "96c0672ef7acd2ec"
            ]
        ]
    },
    {
        "id": "f134c72848790ed0",
        "type": "comment",
        "z": "f8b9923a56e2f6e9",
        "name": "1",
        "info": "",
        "x": 2270,
        "y": 160,
        "wires": []
    },
    {
        "id": "15c9045831d161a3",
        "type": "comment",
        "z": "f8b9923a56e2f6e9",
        "name": "2",
        "info": "",
        "x": 2270,
        "y": 280,
        "wires": []
    },
    {
        "id": "1934c0999d0e3f9f",
        "type": "mqtt in",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "topic": "PFC1-K0",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c6bec5.1a4d814",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "d268c52d5b55c9ef",
                "daa31e0c81961d8e"
            ]
        ]
    },
    {
        "id": "d268c52d5b55c9ef",
        "type": "split",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "splt": "/",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "35e94ec34340f61c"
            ]
        ]
    },
    {
        "id": "35e94ec34340f61c",
        "type": "split",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "splt": "{",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "5e4a9e32ab280e6a"
            ]
        ]
    },
    {
        "id": "5e4a9e32ab280e6a",
        "type": "split",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "splt": "}",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "8738ba9209feebe8"
            ]
        ]
    },
    {
        "id": "8738ba9209feebe8",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "55888462432f9374",
                "7d05adc97017af47"
            ]
        ]
    },
    {
        "id": "b5d2261b541ceaed",
        "type": "join",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1970,
        "y": 280,
        "wires": [
            [
                "81baa7f3cbd2b86b"
            ]
        ]
    },
    {
        "id": "315fc6f1d53f6c36",
        "type": "rbe",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1850,
        "y": 280,
        "wires": [
            [
                "b5d2261b541ceaed"
            ]
        ]
    },
    {
        "id": "5260992c3443fd42",
        "type": "split",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "splt": ";",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "2fdec1a5bb5d9f14"
            ]
        ]
    },
    {
        "id": "20a6f38a5e9d36da",
        "type": "change",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 280,
        "wires": [
            [
                "315fc6f1d53f6c36"
            ]
        ]
    },
    {
        "id": "2fdec1a5bb5d9f14",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "ab",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 280,
        "wires": [
            [
                "780381bfd9ce4193"
            ]
        ]
    },
    {
        "id": "7d05adc97017af47",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ab",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "5260992c3443fd42"
            ]
        ]
    },
    {
        "id": "780381bfd9ce4193",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 280,
        "wires": [
            [
                "20a6f38a5e9d36da"
            ]
        ]
    },
    {
        "id": "0cb96cc1b6297d71",
        "type": "join",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1970,
        "y": 160,
        "wires": [
            [
                "3f4d10554f58d784"
            ]
        ]
    },
    {
        "id": "d953eed0f0efad40",
        "type": "rbe",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1850,
        "y": 160,
        "wires": [
            [
                "0cb96cc1b6297d71"
            ]
        ]
    },
    {
        "id": "9515f231cf1fd88c",
        "type": "split",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "splt": ";",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1290,
        "y": 160,
        "wires": [
            [
                "dcb8f83edddb2680"
            ]
        ]
    },
    {
        "id": "262c3b23e1820018",
        "type": "change",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 160,
        "wires": [
            [
                "d953eed0f0efad40"
            ]
        ]
    },
    {
        "id": "dcb8f83edddb2680",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "aa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 160,
        "wires": [
            [
                "acf4e024a37c16c2"
            ]
        ]
    },
    {
        "id": "55888462432f9374",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "aa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "9515f231cf1fd88c"
            ]
        ]
    },
    {
        "id": "acf4e024a37c16c2",
        "type": "switch",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "262c3b23e1820018"
            ]
        ]
    },
    {
        "id": "daa31e0c81961d8e",
        "type": "debug",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "b8649a058887e6bd",
        "type": "debug",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 160,
        "wires": []
    },
    {
        "id": "96c0672ef7acd2ec",
        "type": "debug",
        "z": "f8b9923a56e2f6e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2390,
        "y": 400,
        "wires": []
    },
    {
        "id": "2fa833e1436b3cec",
        "type": "influxdb batch",
        "z": "f8b9923a56e2f6e9",
        "influxdb": "416eaf7810a9cd8e",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2480,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0aa90f96f26b3ae",
        "type": "ui_button",
        "z": "33286dca73505152",
        "name": "",
        "group": "dc6ea066bf78cde2",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Drehstromzähler 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "5e3765f8b22704c7"
            ]
        ]
    },
    {
        "id": "5e3765f8b22704c7",
        "type": "change",
        "z": "33286dca73505152",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Drehstomzähler 1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "54afc11cefd68072"
            ]
        ]
    },
    {
        "id": "54afc11cefd68072",
        "type": "ui_ui_control",
        "z": "33286dca73505152",
        "name": "",
        "events": "connect",
        "x": 480,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1e20bf78a95d1147",
        "type": "comment",
        "z": "33286dca73505152",
        "name": "zur Seite des Drehstromzähler 1 navigieren",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "5df842079c3b685e",
        "type": "ui_button",
        "z": "33286dca73505152",
        "name": "",
        "group": "0462dd3564a07ec5",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "zurück zur Startseite",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "6417027df8842f6c"
            ]
        ]
    },
    {
        "id": "6417027df8842f6c",
        "type": "change",
        "z": "33286dca73505152",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Startseite\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "1cddf485c75e08d1"
            ]
        ]
    },
    {
        "id": "1cddf485c75e08d1",
        "type": "ui_ui_control",
        "z": "33286dca73505152",
        "name": "",
        "events": "connect",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d52405cbfd500444",
        "type": "comment",
        "z": "33286dca73505152",
        "name": "von der seite Drehstromzähler 1 zur Startseite zurück navigieren",
        "info": "",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "51fc1c11d04f2be6",
        "type": "comment",
        "z": "33286dca73505152",
        "name": "Drehstromzähler 1 _______________________________________________________________",
        "info": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "3b21606d59d65ddd",
        "type": "ui_button",
        "z": "33286dca73505152",
        "name": "",
        "group": "0462dd3564a07ec5",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Grafana Daten Drehstromzähler 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "7afeb4b68bcba176"
            ]
        ]
    },
    {
        "id": "7afeb4b68bcba176",
        "type": "change",
        "z": "33286dca73505152",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Drehstomzähler 1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "d556a3ba5733ac9c"
            ]
        ]
    },
    {
        "id": "d556a3ba5733ac9c",
        "type": "ui_ui_control",
        "z": "33286dca73505152",
        "name": "",
        "events": "connect",
        "x": 580,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c038a66d0ba1ac66",
        "type": "comment",
        "z": "33286dca73505152",
        "name": "zur Seite des Drehstromzähler 1 Grafana navigieren",
        "info": "",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef056cf3d42fc57f",
        "type": "ui_button",
        "z": "33286dca73505152",
        "name": "",
        "group": "dc6ea066bf78cde2",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Drehstromzähler 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "2401474b30561636"
            ]
        ]
    },
    {
        "id": "2401474b30561636",
        "type": "change",
        "z": "33286dca73505152",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Drehstomzähler 2\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "213a35f5a860c623"
            ]
        ]
    },
    {
        "id": "213a35f5a860c623",
        "type": "ui_ui_control",
        "z": "33286dca73505152",
        "name": "",
        "events": "connect",
        "x": 480,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6bfc133e5f9af834",
        "type": "ping",
        "z": "33286dca73505152",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "192.168.2.22",
        "timer": "5",
        "inputs": 0,
        "x": 380,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "89eeb85ed32e2225",
        "type": "debug",
        "z": "33286dca73505152",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 780,
        "wires": []
    }
]